name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install Scoop
        shell: pwsh
        run: install.ps1
          
      - name: Check Scoop repo
        shell: pwsh
        run: echo "Scoop repo is set to $(scoop config scoop_repo)"

      - name: Check 7Zip installation
        shell: pwsh
        run: echo "7Zip was installed to $(scoop which 7z)"

      - name: Check Git installation
        shell: pwsh
        run: echo "Git was installed to $(scoop which git)"

      - name: Check Aria2 installation
        shell: pwsh
        run: echo "Aria2 was installed to $(scoop which aria2)"

      - name: Check buckets
        shell: pwsh
        run: scoop bucket list

      - name: Install Pandoc
        shell: pwsh
        run: scoop install scoop-cn/pandoc

      - name: Install MikTeX
        shell: pwsh
        run: scoop install scoop-cn/miktex
