name: Test

on:
  push:
    paths:
      - 'install.ps1'

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Test
        shell: pwsh
        run: |
          .\install.ps1
          echo "Scoop repo has been set to $(scoop config scoop_repo)"
          echo "7-Zip was installed to $(scoop which 7z)"
          echo "Git was installed to $(scoop which git)"
          scoop install pandoc
          scoop install miktex
          scoop bucket list
