name: Test Workflow

on:
  workflow_dispatch:

jobs:
  run-install-script:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Run install.ps1
        shell: pwsh
        run: |
          .\install.ps1
          scoop config scoop_repo
          scoop which 7z
          scoop which git
          scoop bucket list
          scoop install scoop-cn/pandoc
          scoop install scoop-cn/latex
