name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Test
        shell: pwsh
        run: |
          .\install.ps1
          echo "Scoop repo has been set to $(scoop config scoop_repo)"
          echo "7Zip was installed to $(scoop which 7z)"
          echo "Git was installed to $(scoop which git)"
          echo "Aria2 was installed to $(scoop which aria2c)"
          scoop install scoop-cn/pandoc
          scoop install scoop-cn/miktex
          scoop bucket list
